@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc53fwrk3iltcvneqg7ca725jhhknnqk6l5uumbndwv.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc53fwrk3iltcvneqg7ca725jhhknnqk6l5uumbndwv.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc53fwrk3iltcvneqg7ca725jhhknnqk6l5uumbndwv.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc53fwrk3iltcvneqg7ca725jhhknnqk6l5uumbndwv.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc53fwrk3iltcvneqg7ca725jhhknnqk6l5uumbndwv.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc53fwrk3iltcvneqg7ca725jhhknnqk6l5uumbndwv.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc53fwrk3iltcvneqg7ca725jhhknnqk6l5uumbndwv.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc53fwrk3iltcvneqg7ca725jhhknnqk6l5uumbndwv.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc53fwrk3iltcvneqg7ca725jhhknnqk6l5uumbndwv.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc73fwrk3iltehus_nvmrmxcp50sjia1zl7w0q5nw.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc73fwrk3iltehus_nvmrmxcp50sjia1zl7w0q5nw.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc73fwrk3iltehus_nvmrmxcp50sjia1zl7w0q5nw.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc73fwrk3iltehus_nvmrmxcp50sjia1zl7w0q5nw.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc73fwrk3iltehus_nvmrmxcp50sjia1zl7w0q5nw.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc73fwrk3iltehus_nvmrmxcp50sjia1zl7w0q5nw.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc73fwrk3iltehus_nvmrmxcp50sjia1zl7w0q5nw.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc73fwrk3iltehus_nvmrmxcp50sjia1zl7w0q5nw.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/inter/v20/ucc73fwrk3iltehus_nvmrmxcp50sjia1zl7w0q5nw.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/lato/v25/s6u-w4bmutphjxsipx-opclc79u1.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/lato/v25/s6u_w4bmutphjxsi9w2_gwftx9897g.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/lato/v25/s6u8w4bmutphjxsaxc-qnixg7q.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/lato/v25/s6u_w4bmutphjxsi5wq_gwftx9897g.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/lato/v25/s6u_w4bmutphjxsi3wi_gwftx9897g.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/lato/v25/s6u8w4bmutphh30axc-qnixg7q.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/lato/v25/s6u9w4bmutphh7usswipgq3q5d0.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/lato/v25/s6uyw4bmutphjx4wxiwtfcc.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/lato/v25/s6u9w4bmutphh6uvswipgq3q5d0.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/lato/v25/s6u9w4bmutphh50xswipgq3q5d0.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtuqjig1_i6t8kchkm459wxrys7m0dr9pa.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtuqjig1_i6t8kchkm459wxrys7m0dr9pa.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtuqjig1_i6t8kchkm459wxrys7m0dr9pa.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtuqjig1_i6t8kchkm459wxrys7m0dr9pa.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtuqjig1_i6t8kchkm459wxrys7m0dr9pa.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtuqjig1_i6t8kchkm459wxrys7m0dr9pa.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtuqjig1_i6t8kchkm459wxrys7m0dr9pa.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtuqjig1_i6t8kchkm459wxrys7m0dr9pa.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtuqjig1_i6t8kchkm459wxrys7m0dr9pa.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtusjig1_i6t8kchkm459wlhyyth89y.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtusjig1_i6t8kchkm459wlhyyth89y.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtusjig1_i6t8kchkm459wlhyyth89y.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtusjig1_i6t8kchkm459wlhyyth89y.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtusjig1_i6t8kchkm459wlhyyth89y.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtusjig1_i6t8kchkm459wlhyyth89y.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtusjig1_i6t8kchkm459wlhyyth89y.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtusjig1_i6t8kchkm459wlhyyth89y.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/montserrat/v31/jtusjig1_i6t8kchkm459wlhyyth89y.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/opensans/v44/memtyags126mizpba-ufuicvxscekx2cmqvxlwqwuu6fxzcjgg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/opensans/v44/memtyags126mizpba-ufuicvxscekx2cmqvxlwqwuu6fxzcjgg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/opensans/v44/memtyags126mizpba-ufuicvxscekx2cmqvxlwqwuu6fxzcjgg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/opensans/v44/memtyags126mizpba-ufuicvxscekx2cmqvxlwqwuu6fxzcjgg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/opensans/v44/memtyags126mizpba-ufuicvxscekx2cmqvxlwqwuu6fxzcjgg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/opensans/v44/memtyags126mizpba-ufuicvxscekx2cmqvxlwqwuu6fxzcjgg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/opensans/v44/memvyags126mizpba-uvwbx2vvnxbbobj2ovts-mu0sc55i.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/opensans/v44/memvyags126mizpba-uvwbx2vvnxbbobj2ovts-mu0sc55i.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/opensans/v44/memvyags126mizpba-uvwbx2vvnxbbobj2ovts-mu0sc55i.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/opensans/v44/memvyags126mizpba-uvwbx2vvnxbbobj2ovts-mu0sc55i.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/opensans/v44/memvyags126mizpba-uvwbx2vvnxbbobj2ovts-mu0sc55i.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/opensans/v44/memvyags126mizpba-uvwbx2vvnxbbobj2ovts-mu0sc55i.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo5cnqeu92fr1mu53zec9_vu3r1gihoszmkbnkastbqwg.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 200;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo5cnqeu92fr1mu53zec9_vu3r1gihoszmkbnkastbqwg.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo5cnqeu92fr1mu53zec9_vu3r1gihoszmkbnkastbqwg.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo5cnqeu92fr1mu53zec9_vu3r1gihoszmkbnkastbqwg.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo5cnqeu92fr1mu53zec9_vu3r1gihoszmkbnkastbqwg.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo5cnqeu92fr1mu53zec9_vu3r1gihoszmkbnkastbqwg.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo5cnqeu92fr1mu53zec9_vu3r1gihoszmkbnkastbqwg.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo5cnqeu92fr1mu53zec9_vu3r1gihoszmkbnkastbqwg.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo5cnqeu92fr1mu53zec9_vu3r1gihoszmkbnkastbqwg.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo7cnqeu92fr1me7ksn66agldtyluama3yubhmdazq.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo7cnqeu92fr1me7ksn66agldtyluama3yubhmdazq.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo7cnqeu92fr1me7ksn66agldtyluama3yubhmdazq.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo7cnqeu92fr1me7ksn66agldtyluama3yubhmdazq.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo7cnqeu92fr1me7ksn66agldtyluama3yubhmdazq.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo7cnqeu92fr1me7ksn66agldtyluama3yubhmdazq.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo7cnqeu92fr1me7ksn66agldtyluama3yubhmdazq.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo7cnqeu92fr1me7ksn66agldtyluama3yubhmdazq.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/roboto/v51/kfo7cnqeu92fr1me7ksn66agldtyluama3yubhmdazq.woff2) format('woff2');
}
